

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

html {
    background: url('./images/notebook_paper_pic.jpg');
    background-color: #4f1616;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.container {
    margin: 0 25% 0 25%;
    height: 100%;
    /* width: 33%; */
    position: center;
    /* display: flex; */
    /* flex-wrap: wrap; */
    }


#headline {
    margin: 0 0 0 7rem;
    padding: 2% 0 0 2%;
    position: absolute;
}

#me-arrow {
    position: absolute;
    margin: 14% 0 0 6%;
}

#contact-me {
    position: absolute;
    margin: 15% 1% .5% 33%;
    transition: transform .2s;
}

#contact-me:hover {
    transform: scale(1.3);
}

#me-me-me {
    position: absolute;
    margin: 47% 2% .5% 33%;
    transition: transform .2s;
}

#me-me-me:hover {
    transform: scale(1.3);
}

#stick-figure {
    position: absolute;
    margin: 22% 5% .5% 7%;
}

#listen-to-me {
    position: absolute;
    margin: 44% 0 0 8%;
    transition: transform .2s;
}

#listen-to-me:hover {
    transform: scale(1.3);
}


#look-at-me {
    position: absolute;
    margin: 25% 2% .5% 28%;
    transition: transform .2s;
}

#look-at-me:hover {
    transform: scale(1.3);
}